DB_CONNECTION_STRING=postgresql://cinematch_user:aDpiidSm50%La@/cinematch?host=/cloudsql/cinematch-497011:europe-west6:cinematch-dbCLOUD_SQL_CONN_STRING=postgresql://user:pass@host/db
WANDB_API_KEY=your_key_here
GCP_PROJECT=your-gcp-project
GCP_REGION=europe-west1
CLOUD_RUN_SERVICE=model-service
ARTIFACT_REGISTRY=europe-west1-docker.pkg.dev